#foliopants {

}

#contactimage {
    margin-top: -96%;
    width: 85%;
    height: 
}

.backgroundyellow {
    background: yellow;
}

.backgroundorange {
    background: orange;
}


.contact-box{
	position:absolute;
	top:187px;
	width:135px;
	font-size:11px;
	line-height:13px;
}
.contact-box.left{left:15vw;}
.contact-box.right{
	right:51px;
	text-align:right;
}
.contact-box a{
	text-decoration:none;
	color:#754443;
}
.contact-box a:hover{color:#e1344f;}
.contact-box h2{
	font:19px/22px "Comic Sans MS", cursive, sans-serif;
	margin:0 0 3px;
	letter-spacing:-1px;
	word-spacing:-1px;
	color:#f00;
}
.contact-box .text-beverly-hills,
.contact-box .text-new-york{
	margin:0 0 5px;
	font-size:0;
	line-height:0;
	background:url(images/text-sprite.png) no-repeat;
	width:137px;
	height:45px;
	text-indent:-9999px;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
}
.contact-box .text-new-york{
	background-position:-270px 0;
	width:130px;
	height:50px;
	text-indent:-9999px;
	margin-bottom:0;
	text-align:left;
}
.contact-box h2 span{
	font-size:14px;
	line-height:17px;
	font-weight:bold;
	letter-spacing:0;
	word-spacing:-2px;
	display:block;
}
.contact-box .text-beverly-hills span,
.contact-box .text-new-york span{
	font-size:0;
	line-height:0;
}
.contact-box address{
	font-style:normal;
	margin:0 0 5px;
}
.contact-box .address-beverly-hills,
.contact-box .address-new-york{
	background:url(../images/text-sprite.png) no-repeat 0 -101px;
	width:129px;
	height:49px;
	text-indent:-9999px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	display:inline-block;
	vertical-align:top;
	margin:0 0 8px;
}
.contact-box .address-new-york{
	background-position:-282px -88px;
	width:118px;
	height:62px;
	margin-bottom:4px;
	text-align:left;
}
.contact-box .email-esearcy,
.contact-box .email-julia,
.contact-box .text-link{
	background:url(../images/text-sprite.png) no-repeat 0 -101px;
	text-indent:-9999px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	display:block;
}
.contact-box .text-link{
	display:inline-block;
	vertical-align:top;
}
.contact-box .email-esearcy{
	width:116px;
	height:12px;
	background-position:0 -168px;
}
.contact-box .email-julia{
	width:115px;
	height:12px;
	background-position:0 -188px;
}
.contact-box .text-link{
	width:66px;
	height:9px;
	background-position:-334px -191px;
	text-align:left;
}
.contact-box .email-esearcy a,
.contact-box .email-julia a,
.contact-box .text-link a{
	display:block;
	height:100%;
}